.nomecompleto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    text-align: center;
    padding-top: 40px;
    color: #12465a;
  }
  body{
    padding: 2%;
    font-family: Epilogue, sans-serif;
    font-size: 18px;
    font-weight: 300;
    /* background-color: #ccccd8; */
    background-color: #e7e7dd;
    letter-spacing: 0,5%;
  }
  h1{
    color: #27282e;
  }
  h4{
    color: #12465a;
  }
  h2{
    color: #17191e;
  }
  .orgulho{
    font-size: 19px;
    color: #12465a;
  }
  .trybe{
    color: #085738;
    height: 200px;
  }
  div{
  
   
  }
  .div-principal {
    
    position: relative;
    margin-top: 5%;
    
  }
  .fotos{
    
    border-radius: 5%;
    width: 149px;
    height: 275px;

  }
  .descricao{
    display:inline-block;
    height: 200px;
    border: ;

    
  }
  .div-descricao{
    display: inline-block;
    height: 170px;
    width: 600px;
    float: right;
    bottom: 70px;
    right: 75px;
    position: absolute;
  }
  .div-fotos{
    width: 152px;
    display: inline-block;
    height: 276px;
  }
  .indice{
    background-color:#162431;
    width: 100%;
    height: 70px;
    display: inline-flex;
    position: fixed;
    top: 1px;
    left: 1px;
  }
  .botao {
    
    border: 2px solid #141E27;
    padding: 8px 15px;
    background-color: #12465a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
  }
  .botaotext{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }

  