.nomecompleto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    text-align: center;
  }
  body{
    padding: 2%;
    font-family: Epilogue, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #9595a6;
  }
  h1{
    color: #27282e;
  }
  h4{
    color: #17191e;
  }
  h2{
    color: #17191e;
  }
  img {
    border-radius:03%;
    
  }
  .orgulho{
    font-size: 19px;
    color: #085738;
  }
  .trybe{
    color: #085738;
    height: 200px;
  }
  div {
    border: 2px solid green;
    position: relative;
  }
  .fotos{
    border: 10px;
    display: inline-block;

  }
  .descricao{
    display:inline-block;
    height: 200px;
    
  }
  .div-descricao{
    display: inline-block;
    height: 170px;
    width: 600px;
    float: right;
    bottom: 70px;
    position: absolute;
  }
  .div-fotos{
    border: 5px solid blue;
    width: 152px;
    display: inline-block;
    height: 276px;
  }
  .indice{
    display: inline-flex;
  }