.nomecompleto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    text-align: center;
    padding-top: 40px;
  }
  body{
    padding: 2%;
    font-family: Epilogue, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #9595a6;
  }
  h1{
    color: #27282e;
  }
  h4{
    color: #17191e;
  }
  h2{
    color: #17191e;
  }
  .orgulho{
    font-size: 19px;
    color: #085738;
  }
  .trybe{
    color: #085738;
    height: 200px;
  }
  div{
   
  }
  .div-principal {
    
    position: relative;
    margin-top: 5%;
  }
  .fotos{
    
    border-radius: 5%;
    width: 149px;
    height: 275px;

  }
  .descricao{
    display:inline-block;
    height: 200px;

    
  }
  .div-descricao{
    display: inline-block;
    height: 170px;
    width: 600px;
    float: right;
    bottom: 70px;
    right: 75px;
    position: absolute;
  }
  .div-fotos{
    width: 152px;
    display: inline-block;
    height: 276px;
  }
  .indice{
    display: inline-flex;
    position: fixed;
    top: 10px;
  }
  .indice li{
    padding: 25px;
    
    
  }